.product-delete {
  text-decoration: none;
  padding: 10px 20px;
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 40px;
  display: inline-block;
  background-color: rgb(250, 39, 39);
  color: black;
  font-size: 18px;
}
.views-field .field-content img {
  max-width: 250px;
  max-height: 250px;
  min-height: 250px;
  min-width: 250px;
  display: block;
  margin: 5px auto;
}
.views-row {
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  padding: 20px;
  border-radius: 10px;
  max-width: 50%;
  /* min-width: 300px; */
}
/* .view-content {
  display: flex;
  flex-direction: row;
} */
.views-row .views-field {
  font-size: 20px;
 }
 .views-field-field-price .field-content {
  display: inline-block;
 }
 .view-card-total .contextual-region .view-content .views-row .views-field-field-price {
  background-color: red;
  color: red;
 }

.view-cart-total .view-content .views-row {
  min-width: 100%;
  min-height: 200px;
}
.reduce-quantity, .increase-quantity {
  text-decoration: none;
  color: red;
  font-size: 30px;
}
.increase-quantity, .reduce-quantity {
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 0 13px;
  border-radius: 50%;
  margin: 5px;
}
.reduce-quantity {
  padding: 0 15px;
}
 .views-field-nothing-1, .views-field-nothing-2  {
  display: inline-block;
 }