.event-card .card-title a {
  color: black !important;
  /* rgb(248, 84, 84) */
  text-decoration: none ;
  font-size: 18px;
}
.event-card .card-title {
  margin-bottom: 10px;
}
.event-card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  margin: 0 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  min-height: 410px;
  max-height: 410px;
}
.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
.card-img .img-fluid {
  max-width: 400px;
  min-height: 250px;
  max-height: 250px;
}
.event-location {
  font-size: 18px;
  display: flex;
  max-width: 90%;
  margin: 20px 10px;
}
.views-row .views-col {
  margin: 20px 0;
}
.event-card .live-badge {
  background-color: rgb(127, 226, 127);
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  max-width: 50px;
  margin: 10px 10px;
}
.dialog-off-canvas-main-canvas .region.region-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(104, 185, 104);
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}
.menu--footer {
  min-height: 150px;
  background-color:  rgb(104, 185, 104);
}
.webform-submission-form {
  max-width: 50%;
  margin-left: 10px;
}
.form-select,.form-email,.form-tel,.form-text {
  padding: 15px;
  border: 1px solid black;
}
.field--name-body {
  font-size: 20px;
  margin-top: 20px;
  padding: 20px 0 0 0;
}
.field__label {
  font-size: 20px;
  margin: 10px 0 0 10px;
  color: rgb(54, 54, 54);
}
.field__item {
  margin: 0 0 0 10px;
}
.field--name-field-event-registration-form .field__label {
  margin-top: 50px;
}
.breadcrumb .breadcrumb-item {
  font-size: 18px;
  margin: 10px;
  margin-top: 20px;
}
.block-views-blockupcoming-events-block-1 {
   box-shadow: 0 4px 8px rgba(0,0,0,0.3);
   padding: 10px;
   border-radius: 10px;
}
.block-views-blockupcoming-events-block-1 .views-field .field-content a{
  text-decoration: none;
  color: rgb(104, 185, 104);
  padding: 5px;
  margin: 2px;
  display: inline-block;
  font-weight: 500;
  padding-left: 0;
}
.breadcrumb-hide::before {
  content: none !important;
  display: none !important;
}
.footer- {
  padding: 0;
}
.block-upcoming-events-block.contextual-region {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  padding: 10px;
  border-radius: 10px;
}
.block-upcoming-events-block.contextual-region a { 
  text-decoration: none;
  color: rgb(104, 185, 104);
  padding: 5px;
  margin: 2px;
  display: inline-block;
  font-weight: 500;
  padding-left: 0;
}
.buy-now-btn, .add-to-cart-btn {
  text-decoration: none;
  padding: 10px 20px;
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 40px;
  display: inline-block;
  background-color: rgb(117, 225, 252);
  border: 1px solid black;
  color: black;
}

 /* .view-cart-total {
  background: red;
 } */